@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Roboto+Mono:wght@500&family=Square+Peg&display=swap');

body    {
    background-color: moccasin;
    display: flex;
    justify-content: center;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#modal {
  padding: 0;
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 10%;
  overflow: hidden;
  background-color: white;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
} 

#modal-btn  {
    background-color: rgb(39, 88, 238);
    padding: 10px;
    color: whitesmoke;
    border: .1px solid rgb(1, 1, 1);
    border-radius: 8px;
    box-shadow: 6px 2px 6px rgb(142, 142, 142);
}
  

  .card {
    background-color: white;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    position: fixed;
    z-index: 100;
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
  }

main    {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    background: white;
    width: 95%;
    flex-grow: 1;
    flex-shrink: 1;
    height: fit-content;
    margin: 2% 5%;
    padding: 20px;
    padding-bottom: 40px;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 10px 8px 10px rgb(142, 142, 142);
    
}


form    {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    background: rgb(241, 238, 238);
    width: 60%;
    margin: 20px 20%;
    padding: 20px;
    box-shadow: 10px 8px 10px rgb(202, 199, 199);
    flex-shrink: .2;
}

form button {
    display: flex;
    background-color: rgb(39, 88, 238);
    color: whitesmoke;
    border: .1px solid rgb(39, 88, 238);
    border-radius: 8px;
    box-shadow: 6px 2px 6px rgb(142, 142, 142);
    padding: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}



h1  {
    display: block;
    text-align: center;
}

#form-inputs  {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 1.5rem;
    margin: 0 2rem 0 2rem;
    padding: .2rem 10% .2rem 10%;
    
   
}

input   {
    background-color: rgb(209, 237, 250);
    
}

#name {
    width: 50%;
    margin-right: .5rem;
}

#task {
    width: 90%;
    margin-right: .5rem;
}

#submit {
    margin-right: .5rem;
}

button:hover {
    cursor: pointer;
}


#tasklist   {
    align-items: center;
    list-style-image: url(./images/arrow-g722be1e34_640.png);
    position: relative;
    margin:auto;
    width: 30%;
}



#listhead  {
    text-align: center;
    margin-bottom: 20px;
   
}

li  {
    padding-left: 10px;
    color: rgb(39, 88, 238);
    font-size: 18px;
    padding: .5rem .2rem .5rem .5rem;
    font-size: 1.2rem;
    font-weight: 800;
    float: left;  
    width: 100%;
}


li:first-child {
    border-top: none;
   
  }
  
  li:nth-child(even) {
    background-color: rgb(246,246,246);
  }
  
  li:hover {
    background: rgb(255, 252, 82);
    /*box-shadow: 10px 8px 10px rgb(117, 143, 102);*/
    font-size: 1.3rem;
    text-shadow: 4px 10px 10px rgb(45, 120, 145);
    cursor: pointer;
  }

  li button:hover {
    cursor: pointer;
  }


  

#done   {
    /*position: absolute;
    right: 0;  */
    float: right;
    margin-top: .2rem;
    background-color: transparent;
    border: none;
    color: rgb(238, 66, 39);
    font-size: 1rem;
}

#done:hover {
    font-size: 1.2rem;
    text-shadow: 4px 10px 10px rgb(45, 120, 145);
}

@media screen and (max-width: 768px) {

    form  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #form-inputs {
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: auto;
    }

    #name {
        width: 100%;
        margin-right: 0;
        margin-bottom: .2rem;
    }
    
    #task {
        width: 100%;
        margin-right: 0;
    }

    input {
        width: 100%;
    }

    #submit {
        margin-right: 0;
        margin: .3rem 0 .2rem 0;
    }
    


    form button {
        width: 50%;
        padding: 4px;
    }

    #tasklist {
        width: 60%;
    }

    li {
        font-size: .7rem;
    }

    li:hover {
        font-size: .8rem;
    }

    #done {
        font-size: .7rem;
    }
    
    #done:hover {
        font-size: .8rem;
    }
    
}

@media screen and (max-width: 400px) {
    form button {
        width: 100%;
    }

    .card  {
        width: 200px;
    }

    li {
        font-size: .8rem;
    }

}